.App {
  max-width: 800px;
  margin: 150px auto;
  padding: 15px;
  height: 400px;
  border-radius: 5px;

  background-color: antiquewhite;
}
.app_header {
  text-align: center;
  margin-bottom: 20px;
}
.messages {
  margin: auto;
  background-color: white;
  max-width: 600px;
  height: 200px;
  overflow-y: scroll;
  margin-bottom: 30px;
}
.messages_body {
  padding: 10px;
}
.messages_one_message {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  background-color: beige;
  padding: 5px;
  border-radius: 5px;
}
.messages_one_message_user {

}
.messages_one_message_user_avatar {
  margin: 0 auto;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-position: center;
  background-repeat: none;
  background-size: contain;

}
.messages_one_message_user_sendor {
  margin-top: 5px;
  font-size: 10px;
  color:blue;
}
.messages_one_message_text {
  font-size: 13px;
  word-wrap: break-word;
}
.messages_one_message_data {
  font-family: 'Courier New', Courier, monospace;
}